.container
  .d-flex.justify-content-center.align-items-center.my-5
    = remote_link_to("Ajax trigger test", test_path, class: "ajax-trigger btn btn-dark", params: {question: 1, type: "text"})

  .d-flex.justify-content-center.align-items-center.my-5
    = link_to "Créer une question", new_question_path, class: "btn btn-dark"

  .table-responsive
    %table.table
      %thead
        %tr
          %th{scope: "col"} Position
          %th{scope: "col"} Label
          %th{scope: "col"} Type
          %th{scope: "col"} Field name
          %th{scope: "col"} Theme
          %th{scope: "col"} Required
          %th{scope: "col"} Réponses
          %th{scope: "col"} Conditions
          %th{scope: "col"} Actions
      %tbody
      - @questions.sort_by{|question| question.position}.each_with_index do |question,index|
        %tr
          %th.d-flex.justify-content-start.align-items-center{scope: "row"}
            = question.position
          %td
            = "#{question.label}"
          %td
            = "#{question.type.capitalize}"
          %td
            = "#{question.field_name}"
          %td
            = "#{question.theme.capitalize}"
          %td
            - if question.required
              = "Obligatoire"
            - else
              = "Facultatif"
          %td
            = question.answers.size
          %td
            = question.conditions.size
          %td
            = link_to "Show", question_path(question)
