.container
  = simple_form_for @question do |f|
    = f.input :position, input_html: {class: "form-control", value: "#{@last_question_position}"}
    = f.input :field_name, collection: Survey.sanitize_fields, input_html: {class: "form-control"}
    = f.input :label, input_html: {class: "form-control"}


    .d-flex.justify-content-between.align-items-center.mt-5.mb-3
      .custom-label Le type de champ
    .d-flex.justify-content-start.align-items-center.mb-4.custom-radio-container
      - InputType.list_with_datas.each do |type|
        .custom-radio-input
          %input{type: "radio", name: "question[type]", id: "#{type[:name]}", value: "#{type[:name]}"}
          %label{for: "#{type[:name]}"}
            = type[:name].to_s.capitalize

    .line-separator

    .d-flex.justify-content-between.align-items-center.mt-5.mb-3
      .custom-label Le thème de la question
    .d-flex.justify-content-between.align-items-center.mb-4.custom-radio-container
      .d-flex.justify-content-start.align-items-center
        - SurveyTheme.list_with_datas.each_with_index do |theme,index|
          .custom-radio-input
            %input{type: "radio", name: "question[theme]", id: "#{theme[:name]}", value: "#{theme[:name]}", "data-index": "#{index + 1}"}
            %label{for: "#{theme[:name]}"}
              = theme[:name].to_s.capitalize
      .d-flex.justify-content-end.align-items-center.d-none
        - SurveyTheme.list_with_datas.each_with_index do |theme,index|
          %aside.d-none{"data-index": "#{index + 1}"}
            = "#{theme[:details]}"

    .line-separator

    .custom-boolean-input.mb-5
      %input{type: "hidden", value: "false", name: "question[required]"}
      %input{type: "checkbox", value: "true", name: "question[required]", id: "question_required"}
      %label{for: "question_required"} Question obligatoire
      .hint En cochant cette option, cette question sera obligatoire

    .d-flex.justify-content-center.align-items-center
      = f.submit "Valider", class: "btn btn-dark btn-sm"

