%section.questions
  .big-title La question
  .question-container
    .question-item
      .question-item-title Position
      .question-item-value
        = @question.position

    .question-item
      .question-item-title Label
      .question-item-value
        = @question.label

    .question-item
      .question-item-title Field name
      .question-item-value
        = @question.field_name

    .question-item
      .question-item-title Theme
      .question-item-value
        = @question.theme

    .question-item
      .question-item-title Type
      .question-item-value
        = @question.type

    .question-item
      .question-item-title Statut
      .question-item-value
        - if @question.required
          = "Obligatoire"
        - else
          = "Facultative"

  .d-flex.justify-content-between.align-items-center
    .big-title Validation front
    = link_to "Nouvelle", new_front_condition_path(question: @question), class: "btn btn-dark btn-sm"

  .d-flex.justify-content-between.align-items-center
    .big-title Les réponses
    = link_to "Nouvelle", new_answer_path(question: @question), class: "btn btn-dark btn-sm"

  .d-flex.justify-content-between.align-items-center
    .big-title Les conditions
    = link_to "Nouvelle", new_condition_path(question: @question), class: "btn btn-dark btn-sm"

  - if !@question.sentence?
    .d-flex.justify-content-between.align-items-center
      .big-title La phrase
      = link_to "Nouvelle", new_sentence_path(question: @question), class: "btn btn-dark btn-sm"


  .answers-container
    - @question.answers.sort_by{|answer| answer.order}.each do |answer|
      = render "questions/partials/answer_#{@question.type}", answer: answer



  .conditions-container
    = "Cette question s'affiche si le champ "
    - @question.conditions.each do |condition|
      = condition.field_name
      = " est "
      = condition.operator
      = " à "
      = condition.value
  .sentences-container
    - if @question.sentence?
      = @question.sentence.text
