.container
  = simple_form_for @condition do |f|

    .d-flex.justify-content-between.align-items-center.mb-3
      .custom-label Opérateur parent
    .d-flex.justify-content-start.align-items-center.mb-4.custom-radio-container
      - ConditionType.parent_operator_list.each do |type|
        .custom-radio-input
          %input{type: "radio", name: "condition[parent_operator]", id: "#{type}", value: "#{type}"}
          %label{for: "#{type}"}
            = type.to_s.capitalize

    .title Cette question s'affiche si le champ
    - if @available_order
      = f.input :order, as: :hidden, input_html: {value: @available_order}
    - else
      = f.input :order, as: :hidden, input_html: {value: 1}

    = f.input :question_id, as: :hidden, input_html: {value: @question.id}
    = f.input :field_name, label: false, collection: Survey.sanitize_fields, input_html: {class: "form-control", "data-url": export_select_values_path}




    .d-flex.justify-content-between.align-items-center.mb-3
      .custom-label est
    .d-flex.justify-content-start.align-items-center.mb-4.custom-radio-container
      - ConditionType.list_with_datas.each do |type|
        .custom-radio-input
          %input{type: "radio", name: "condition[operator]", id: "#{type}", value: "#{type}"}
          %label{for: "#{type}"}
            = type.to_s.capitalize

    .ajax-values-container


    .d-flex.justify-content-center.align-items-center
      = f.submit "Valider", class: "btn btn-dark btn-sm"

