= simple_form_for(Customer.new, as: "customer", url: registration_path(Customer.new), validate: true, html: {id: "devise-customer-signup"} ) do |f|
  = f.error_notification
  .devise-customer-signup-title Je m'inscris
  .devise-customer-signup-subtitle.mb-3 Je crée mon compte personnel !
  .row
    %input{type: "hidden", value: @survey.id.to_s, name: "survey_id"}
    .col-xs-12.col-md-6
      - if @survey.firstname
        = f.input :firstname, placeholder: "Prénom", label: false, input_html: {value: @survey.firstname, class: "form-control"}
      - else
        = f.input :firstname, placeholder: "Prénom", label: false, input_html: {class: "form-control"}
    .col-xs-12.col-md-6
      = f.input :lastname, placeholder: "Nom", label: false, input_html: {class: "form-control"}
    .col-xs-12.col-md-6
      = f.input :email, placeholder: "Email", label: false, input_html: {class: "form-control"}
    .col-xs-12.col-md-6
      = f.input :city, placeholder: "Ville", label: false, input_html: {class: "form-control"}, autocomplete: "off"
    .col-xs-12.col-md-6
      = f.input :password, placeholder: 'Mot de passe', label: false, hint: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length), input_html: {class: "form-control"}
    .col-xs-12.col-md-6
      = f.input :password_confirmation, placeholder: "Confirmation mot de passe", label: false, input_html: {class: "form-control"}
    .col-xs-12.col-md-12
      = f.input :phone_number, placeholder: "Téléphone", label: false, input_html: {class: "form-control"}

  .bottom-block
    .d-flex.justify-content-center.align-items-center.my-4
      .custom-boolean-input
        %input{type: "hidden", value: "false", name: "customer[cgu]"}
        %input{type: "checkbox", value: "true", name: "customer[cgu]", id: "customer_cgu"}
        %label{for: "customer_cgu"}
          J'accepte les
          %strong conditions générales d'utilisation
        .hint.d-none En cochant cette option, vous acceptez les conditions générales d'utilisation

    .d-flex.align-items-center.justify-content-center
      = f.button :submit, "Je m'inscris", class: 'btn btn-fade-green btn-bold'
