$animation-time: 0.7s;

@keyframes exitToRight {
  0% {
    opacity: 1;
    transform: translate(0);
  }
  100% {
    opacity: 0;
    display: none;
    transform: translate(100vw);
  }
}

@keyframes exitToLeft {
  0% {
    opacity: 1;
    transform: translate(0);
  }
  100% {
    opacity: 0;
    display: none;
    transform: translate(-100vw);
  }
}

@keyframes enterFromRight {
  0% {
    opacity: 0;
    display: none;
    transform: translate(100vw);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes enterFromLeft {
  0% {
    opacity: 0;
    display: none;
    transform: translate(-100vw);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}


@keyframes enterFromTop {
  0% {
    opacity: 0;
    transform: translateY(-100vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes enterFromBottom {
  0% {
    opacity: 0;
    transform: translateY(100vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes exitToBottom {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(100vh);
  }
}


.enter-from-bottom {
  animation-name: enterFromBottom;
  animation-fill-mode: forwards;
  animation-duration: $animation-time;
}

.enter-from-top {
  animation-name: enterFromTop;
  animation-fill-mode: forwards;
  animation-duration: $animation-time;
}

.exit-to-bottom {
  animation-name: exitToBottom;
  animation-fill-mode: forwards;
  animation-duration: $animation-time;
}

.exit-to-left {
  animation-name: exitToLeft;
  animation-fill-mode: forwards;
  animation-duration: $animation-time;
}

.exit-to-right {
  animation-name: exitToRight;
  animation-fill-mode: forwards;
  animation-duration: $animation-time;
}

.enter-from-left {
  animation-name: enterFromLeft;
  animation-fill-mode: forwards;
  animation-duration: $animation-time;
}

.enter-from-right {
  animation-name: enterFromRight;
  animation-fill-mode: forwards;
  animation-duration: $animation-time;
}
