$bluegray: rgb(200,200,210);
$fade-green: rgb(73,182,175);
$bcs-green: rgb(176,195,115);
$dark-blue: rgb(10,22,75);
$custom-blue: rgb(62,81,178);
$light-blue: rgb(60,78,172);
$light-red: rgb(231,120,87);
$gray-bck: rgb(241,242,247);
$white: rgb(255,255,255);

