div {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
}


.svg {
  margin-right: 8px;
  svg {
    width: 15px;
    height: 15px;
    fill: currentColor;
  }
}

.f-grow {
  flex: 1;
}

.f-row {
  flex-direction: row !important;
}

.d-flex-cc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mt-15px {
  margin-top: 15px;
}

.fade-green-color {
  color: $fade-green;
}

.opacity-9 {
  opacity: 0.9;
}
.opacity-8 {
  opacity: 0.8;
}
.opacity-7 {
  opacity: 0.7;
}
.opacity-6 {
  opacity: 0.6;
}
.opacity-5 {
  opacity: 0.5;
}
