@mixin displayFlex($align,$justify,$direction: 0) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  @if $direction != 0 {
    flex-direction: $direction;
  }
}

@mixin inlineFlex($align,$justify,$direction: 0) {
  display: inline-flex;
  align-items: $align;
  justify-content: $justify;
  @if $direction != 0 {
    flex-direction: $direction;
  }
}


@mixin dynamicBorder($width: 0, $style: 0, $color: 0) {
  @if $width != 0 {
    border-width: $width;
  }
  @if $style != 0 {
    border-style: $style;
  }
  @if $color != 0 {
    border-color: $color;
  }
}
