.custom-modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
  background-color: rgba(100,100,100,0.6);
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  .custom-modal {
    height: 80%;
    width: 50%;
    padding: 25px;
    position: relative;
    border-radius: 5px;
    background-color: white;
    .custom-modal-close-container {
      position: absolute;
      right: 0;
      top: 0;
      padding: 20px;
      cursor: pointer;
      .svg {
        svg {
          width: 25px;
          height: 25px;
        }
      }
    }
    .custom-modal-body {
      height: 100%;
      overflow-y: scroll;
      width: 100%;
      padding: 20px;
    }
  }
}

@media (max-width: 768px) {
  .custom-modal-wrapper {
    z-index: 10000000;
    .custom-modal {
      height: 100%;
      width: 100%;
      padding: 15px;
      border-radius: 0;
      .custom-modal-body {
        padding: 15px;
      }
    }
  }
}
