$diff-padding-sm: 5px 12px;
$diff-padding-md: 7px 16px;
$diff-padding-lg: 10px 18px;
$diff-padding-xl: 14px 24px;

$const-padding-5: 5px;
$const-padding-10: 10px;
$const-padding-20: 20px;
$const-padding-25: 25px;
$const-padding-30: 30px;
