.table tbody + tbody {
  border: none;
}

.table thead th {
  border: none;
}

.table {
  thead {
    tr {
      font-size: 0.6rem;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 2px;
      padding: 1rem;
    }
    th {
      padding: 1rem;
      border: none;
      &:first-child {
        padding-left: 0;
      }
    }
  }
  tbody + tbody {
    border: none;
  }
  tbody tr {
    font-size: 0.8rem;
    font-weight: 600;
  }
  tbody td {
    padding: 1rem;
    border-top: 1px solid lighten($bluegray,15%);
  }
  tbody th {
    padding: 1rem;
    border-top: 1px solid lighten($bluegray,15%);
    &:first-child {
      padding-left: 0;
    }
  }
}
