.container
  = simple_form_for @front_condition do |f|

    = f.input :question_id, as: :hidden, input_html: {value: @question.id}
    = f.input :survey_field, label: false, collection: Survey.sanitize_fields, input_html: {class: "form-control", "data-url": export_select_values_path}
    = f.input :min, label: false, input_html: {class: "form-control"}, placeholder: "Min"
    = f.input :max, label: false, input_html: {class: "form-control"}, placeholder: "Max"

    .d-flex.justify-content-center.align-items-center
      = f.submit "Valider", class: "btn btn-dark btn-sm"

