%section.aristid-agent-signin-section
  %section.left-block
    .svg
      = svg("logo-aristid-dark")
    .form-wrapper
      %h5 Connectez-vous à votre espace pro
      = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .form-inputs
          .custom-agent-signin-field
            .feather-svg-lightred
              = feather_svg("user")
            = f.input :email, label: false, placeholder: "Identifiant"

          .custom-agent-signin-field
            .feather-svg-lightred
              = feather_svg("lock")
            = f.input :password, label: false, placeholder: "Mot de passe"

          .custom-agent-boolean-field
            = f.input :remember_me, label: "Se souvenir de moi", as: :boolean, boolean_style: :inline if devise_mapping.rememberable?

        .d-flex.justify-content-center.align-items-center
          = f.button :submit, "Connexion", class: "custom-btn-lightred"

        = render "agents/shared/links"
  %section.right-block
    %h5 Découvrez nos nouveaux outils
    .bcs-services-container
      .bcs-services-item
        = svg("bcs-services-malab")
        %p Simplifiez la lutte anti blanchiment
        = link_to "En savoir plus", "https://bientotchezsoi-pro.com/malab/", target: "_blank", class: "btn btn-dark btn-bold"

      .bcs-services-item
        = svg("bcs-services-maloc")
        %p Qualifiez vos candidats à la location
        = link_to "En savoir plus", "https://bientotchezsoi-pro.com/bientotmaloc/", target: "_blank", class: "btn btn-dark btn-bold"

      .bcs-services-item
        = svg("bcs-services-edmond")
        %p Facilitez le gestion financière de votre agence
        = link_to "En savoir plus", "https://bientotchezsoi-pro.com/edmond/", target: "_blank", class: "btn btn-dark btn-bold"
