.container
  .big-title
    = "Sentence for Q#{@question.position}"
  = simple_form_for @sentence do |f|
    = f.input :question_id, as: :hidden, input_html: {value: @question.id}
    = f.input :text, label: false, placeholder: "Texte", input_html: {class: "form-control"}
    = f.input :survey_field_to_display, label: false, collection: Survey.sanitize_fields, input_html: {class: "form-control"}
    = f.input :text_after_survey_field, label: false, placeholder: "Texte après la variable à afficher",input_html: {class: "form-control"}
    = f.submit "Je valide", class: "btn btn-dark"
