= simple_form_for @answer do |f|
  = f.input :question_id, as: :hidden, input_html: {value: @question.id}
  = f.input :order, as: :hidden
  = f.input :text, label: false, placeholder: "Texte", input_html: {class: "form-control"}
  = f.submit "Je valide", class: "btn btn-dark"
