section.agency-resume-block {
  padding: 100px 15%;
  h4 {
    font-size: 1.1rem;
    font-weight: 600;
  }
  .agent-block {
    padding: 25px;
    border-radius: 4px;
    border: 1px solid rgb(200,200,200);
    .agent-item {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 6px;
      b {
        width: 21px;
        line-height: 0.1;
        height: 21px;
        font-size: 0.75rem;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: lightslategray;
        color: white;
        margin-right: 8px;
      }
      .agent-email {
        font-weight: 700;
        color: lightslategray;
      }
    }
  }
}



section.aristid-dashboard {
  height: 100vh;
  display: flex;
  section.menu {
    height: 100%;
    background-color: darken($dark-blue,5%);
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    .menu-logo {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
      svg {
        width: 30px;
      }
    }
    .menu-item {
      height: 40px;
      width: 61px;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      &.active {
        border-left: 3px solid $light-red;
      }
    }
  }
  section.content {
    min-height: 100%;
    overflow-y: scroll;
    padding-bottom: 50px;
    background-color: $gray-bck;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    &.start-aligned {
      align-items: flex-start;
    }
    .fullheight-content {
      width: 50%;
      height: 70%;
    }
    .fullpage-content {
      width: 95%;
      min-height: 100%;
      padding-top: 30px;
      .page-title {
        font-size: 1.3rem;
        font-weight: 700;
        color: lighten($dark-blue,10%);
        margin-bottom: 45px;
      }
      .page-title-column {
        margin-bottom: 45px;
        display: flex;
        flex-direction: column;
        a {
          text-decoration: none;
          display: flex;
          align-items: center;
          svg {
            height: 17px;
            width: 17px;
            stroke-width: 4;
            margin-right: 7px;
          }
        }
        .title {
          font-size: 1.3rem;
          font-weight: 700;
          color: lighten($dark-blue,10%);
        }
        .backlink {
          color: $fade-green;
          font-weight: 700;
          font-size: 0.9rem;
        }
      }
    }
  }
}


.square-navigation-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  .circle-overlay {
    .circle-item {
      position: absolute;
      z-index: 10000000;
      left: calc(50% - 80px);
      top: calc(50% - 80px);
      width: 160px;
      height: 160px;
      border-radius: 50%;
      background-color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 10px;
      p {
        font-size: 0.75rem;
        font-weight: 600;
        color: $dark-blue;
        margin: 0;
        line-height: 1.4;
      }
      svg {
        width: 40%;
      }
    }
  }
  .navigation-item {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $white;
    font-weight: 700;
    font-size: 1.3rem;
    padding: 20px;
    position: relative;
    text-align: center;
    .beta-feature {
      display: flex;
      align-items: center;
      padding: 8px 12px;
      border-radius: 20px;
      background-color: rgba(40,40,40,0.2);
      color: rgba(255,255,255,0.7);
      font-size: 0.7rem;
      font-weight: 700;
      line-height: 1;
      &.top-position {
        position: absolute;
        top: 20px;
      }
      &.bottom-position {
        position: absolute;
        bottom: 20px;
      }
      .strong {
        margin-left: 6px;
      }
      svg {
        width: 12px;
        height: 12px;
        fill: rgba(255,255,255,0.7);
      }
    }
    .fixed-size-svg-wrapper {
      margin-bottom: 5px;
      svg {
        width: 60px;
        height: 60px;
      }
    }
    &.blue {
      background-color: $custom-blue;
    }
    &.light-blue {
      background-color: lighten($custom-blue,10%);
    }
    &.red {
      background-color: $light-red;
    }
    &.light-red {
      background-color: lighten($light-red,10%);
    }
  }
  .navigation-top-line {
    display: flex;
    height: 50%;
    a {
      width: 100%;
      height: 100%;
      text-decoration: none;
      &:hover {
        opacity: 0.7;
      }
    }
  }
  .navigation-bottom-line {
    display: flex;
    height: 50%;
    a {
      width: 100%;
      height: 100%;
      text-decoration: none;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}


section.account-menu {
  position: fixed;
  top: 25px;
  right: 25px;
  height: 45px;
  border-radius: 4px;
  background-color: $white;
  display: flex;
  line-height: 0.1;
  align-items: center;
  z-index: 200;
  cursor: pointer;
  .agent-mail {
    margin: 0 10px;
    color: lighten($dark-blue,10%);
    font-weight: 700;
    letter-spacing: -0.2px;
  }
}


.agency-dashboard-table {
  overflow: hidden;
  border-radius: 4px;
  thead {
    background-color: darken($gray-bck,7%);
    color: white;
    th:first-child {
      padding: 1rem;
    }
    th {
      user-select: none;
      cursor: pointer;
      svg {
        width: 16px;
        height: 10px;
        stroke: darken($gray-bck,40%);
        stroke-width: 4;
        margin-bottom: 2px;
        transform: rotate(90deg);
      }
    }
    tr {
      font-weight: 600;
      text-transform: unset;
      font-size: 0.8rem;
      color: darken($gray-bck,40%);
      letter-spacing: unset;
    }
  }
  tbody {
    tr:first-child {
      border-bottom: 1px solid rgb(200,200,200);
    }
    tr:last-child {
      border-top: 1px solid rgb(200,200,200);
    }
    tr {
      background-color: $white;
    }
    th:first-child {
      padding: 1rem;
    }
    th {
      font-weight: 600;
    }
    td {
      position: relative;
      .table-action {
        position: absolute;
        height: 100%;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: lighten($light-red,30%);
        top: 0;
        right: 0;
      }
    }
  }
}

section.survey-wrapper {
  display: flex;
  background-color: $white;
  border-radius: 5px;
  overflow: hidden;
  section.survey-menu {
    padding: 20px;
    padding-top: 15px;
    width: 25%;
    border-right: 2px solid $gray-bck;
    h4 {
      color: lighten($dark-blue,5%);
      font-weight: 800;
      font-size: 1.2rem;
      margin-bottom: 20px;
    }
    h5 {
      color: lighten($dark-blue,5%);
      font-weight: 800;
      font-size: 1rem;
      margin-bottom: 20px;
      margin-top: 40px;
    }
    .menu-item-alt {
      width: 100%;
      display: flex;
      align-items: center;
      font-size: 0.9rem;
      font-weight: 600;
      color: lighten($dark-blue,10%);
      margin-bottom: 10px;
      svg {
        height: 15px;
        margin-right: 4px;
        stroke-width: 3;
        stroke: darken($gray-bck,25%);
      }
    }
    .menu-item {
      width: 100%;
      display: flex;
      align-items: center;
      font-size: 0.9rem;
      font-weight: 600;
      color: lighten($dark-blue,10%);
      margin-bottom: 10px;
      svg {
        height: 15px;
        margin-right: 4px;
        stroke-width: 2;
        stroke: $light-red;
      }
      .email-field {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &:hover {
          overflow: unset;
        }
      }
    }
  }
  section.survey-content {
    width: 75%;
    .nav {
      border-bottom: 2px solid $gray-bck;
      .nav-item {
        a.nav-link {
          color: darken($gray-bck,30%);
          font-size: 0.9rem;
          font-weight: 700;
          padding: 15px 20px;
          transition: 0.3s;
          &.active {
            color: lighten($dark-blue,10%);
            font-weight: 700;
            position: relative;
            &:after {
              content: "";
              position: absolute;
              width: 100%;
              top: 100%;
              left: 0;
              border-bottom: 2px solid lighten($dark-blue,10%);
            }
          }
        }
      }
    }
    .tab-content {
    }
  }
}

section.project {
  .project-section {
    border-bottom: 1px solid $gray-bck;
    padding-bottom: 20px;
    &:last-child {
      border-bottom: none;
    }
    .title {
      font-weight: 700;
      font-size: 0.7rem;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: tomato;
      display: flex;
      align-items: flex-end;
      padding: 20px;
    }
    .project-content {
      display: flex;
      padding: 0 20px;
      .content-item {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5px;
        font-size: 0.9rem;
        &:last-child {
          margin-bottom: 0;
        }
        .label {
          color: $fade-green;
          font-weight: 600;
        }
        .value {
          color: lighten($dark-blue,5%);
          font-weight: 600;
          span {
            opacity: 0.3;
            font-weight: 500;
            font-size: 0.8rem;
          }
        }
      }
      .left-content {
        width: 50%;
        padding-right: 70px;
      }
      .right-content {
        width: 50%;
      }
      .graph-left-content {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        .graph-title {
          text-align: left;
          margin-bottom: 10px;
          color: $fade-green;
          font-weight: 700;
          font-size: 0.9rem;
          width: 100%;
        }
      }
      .graph-right-content {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        .growing-content {
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
        }
        .graph-title {
          text-align: left;
          margin-bottom: 10px;
          color: $fade-green;
          font-weight: 700;
          font-size: 0.9rem;
          width: 100%;
        }
      }
    }
  }
}

#aristid-agency-table {
  .fixed-pagination {
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 61px);
    height: 70px;
    ul.pagination {
      margin-bottom: 0;
      border: 1px solid rgb(160,160,160);
      li {
        padding: 5px 12px;
        border-right: 1px solid rgb(160,160,160);
        &:last-child {
          border-right: none;
        }
        a {
          color: rgba(50,50,55,0.6);
          text-decoration: none;
        }
      }
      li.active {
        a {
          font-weight: 800;
          color: rgba(50,50,55,1);
          text-decoration: none;
        }
      }
    }
  }
}





