section.answers {
  form {
    .input.string {
      margin-right: 10px;
    }
    input.form-control {
      margin: 0;
      height: unset;
    }
  }
  .answer-item {
    padding: 20px;
    margin-bottom: 25px;
    .answer-text {
      font-size: 1.1rem;
      font-weight: 600;
      margin-right: 10px;
      color: rgb(150,150,160);
      display: flex;
      align-items: center;
      .slug {
        color: darken(lightgreen,20%);
        margin-left: 10px;
      }
    }
    .question-details {
      font-size: 1rem;
      font-weight: 600;
      display: flex;
      align-items: center;
      .position {
        font-weight: 700;
        color: tomato;
        margin-right: 10px;
      }
    }
  }
}
