$dynamic-color: var(--agency-color);

form#devise-customer-signup {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .error_notification {
    display: none;
  }
  .field_with_errors {
    position: relative;
    input {
      border: 1px solid tomato;
    }
    span.error {
      color: darken(tomato,10%);
      font-weight: 600;
      font-size: 0.8rem;
      position: relative;
      bottom: 10px;
    }
  }
  input[type="text"] {
    color: $dark-blue;
    font-weight: 500;
    &:focus {
      outline: none;
      box-shadow: none;
      border: 1px solid $dynamic-color;
    }
    &::placeholder {
      color: rgb(160,160,165);
      font-weight: 500;
    }
  }
  input[type="tel"] {
    color: $dark-blue;
    font-weight: 500;
    &:focus {
      outline: none;
      box-shadow: none;
      border: 1px solid $dynamic-color;
    }
    &::placeholder {
      color: rgb(160,160,165);
      font-weight: 500;
    }
  }
  input[type="email"] {
    color: $dark-blue;
    font-weight: 500;
    &:focus {
      outline: none;
      box-shadow: none;
      border: 1px solid $dynamic-color;
    }
    &::placeholder {
      color: rgb(160,160,165);
      font-weight: 500;
    }
  }
  input[type="password"] {
    color: $dark-blue;
    font-weight: 500;
    &:focus {
      outline: none;
      box-shadow: none;
      border: 1px solid $dynamic-color;
    }
    &::placeholder {
      color: rgb(160,160,165);
      font-weight: 500;
    }
  }
  .devise-customer-signup-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 700;
    color: $dark-blue;
  }
  .devise-customer-signup-subtitle {
    font-weight: 500;
    color: $dark-blue;
    text-align: center;
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  form#devise-customer-signup {
    justify-content: flex-start;
    .form-control {
      height: 42px;
      margin-bottom: 7px;
    }
    input[type="text"] {
      font-size: 0.9rem
    }
    input[type="tel"] {
      font-size: 0.9rem;
    }
    input[type="password"] {
      font-size: 0.9rem;
    }
  }
}



