section.errors {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    .svg {
      svg {
        width: 150px;
        height: 150px;
      }
    }
    .big-text {
      font-size: 1.7rem;
      font-weight: 700;
      margin: 25px 0;
    }
    .small-text {
      font-size: 1.2rem;
      font-weight: 500;
    }
  }
}
