section.journey-geolocalisation {
  font-family: -apple-system,BlinkMacSystemFont,Helvetica,Arial,sans-serif;
}

.geoloc-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  svg {
    width: 14px;
    height: 14px;
    fill: none;
    stroke: lighten(dodgerblue,20%);
  }
}
