$fade-green: rgb(73,182,175);
$carret-width: 16px;
$question-label-color: rgb(240,240,250);
$question-answer-color: $question-label-color;
$checked-indicator-background: $fade-green;
$bot-text-padding: 25px;
$bot-answer-padding: 35px;
$bot-text-width: 450px;
$bot-text-font-size: 1rem;
$dark-blue: rgb(10,22,75);
$bot-text-color: $dark-blue;
$max-width-answer-size: 85%;
$exit-step-height: 200px;
$dynamic-color: var(--agency-color);

body {
  height: 100vh;
  overflow-y: scroll;
}

section.journey-geolocalisation {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 110px 240px;
  padding-bottom: 0;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  .svg.biggest {
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      width: 50%;
      height: 30%;
    }
  }
  .content {
    width: 100%;
    .big-title {
      font-size: 1.9rem;
      color: white;
      font-weight: 700;
      margin: 20px 0;
      text-align: center;
    }
  }
}

section.fixed-section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}

section.question-hint {
  margin-top: 20px;
  text-align: center;
  font-size: 0.87rem;
  font-weight: 600;
}
section.exitstep {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: rgba(60,60,60,0.6);
}
section.exit-step-1, section.exit-step-2, section.exit-step-3, section.exit-step-4 {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 100px;
  height: $exit-step-height;
  font-size: 1.1rem;
  background-color: $question-label-color;
  .left-block {
    display: flex;
    align-items: center;
    flex: 1;
    .svg {
      margin-right: 20px;
      svg {
        width: 45px;
        height: 45px;
      }
    }
  }
  .right-block {
    display: flex;
    align-items: center;
    flex: 1;
  }
  .text {
    font-weight: 400;
    color: $dark-blue;
    strong {
      font-weight: 700;
    }
  }
}


section.journey {
  padding: 100px 150px;
  padding-top: 50px;
  box-sizing: border-box;
  height: 100%;
  max-height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  color: $dark-blue;
  .journey-progression-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    .progress {
      border-radius: 0;
    }
  }
  .journey-sentence {
    font-weight: 400;
    color: $dark-blue;
    margin-bottom: 10px;
  }
  .journey-survey-recap-trigger {
    position: fixed;
    top: 0;
    right: 0;
    padding: 25px;
    .custom-btn-trigger {
      font-weight: 500;
      font-size: 0.95rem;
      padding: 7px 14px;
      border-radius: 4px;
      background-color: rgb(60,60,62);
      color: white;
      cursor: pointer;
    }
  }
  section.fixed_survey_recap_container {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    overflow-y: scroll;
    padding: 25px;
    font-size: 0.94rem;
    font-weight: 500;
    background-color: white;
    box-shadow: 0 0 20px 5px rgba(100,100,100,0.1);
    width: 280px;
    z-index: 1000;
    .survey-recap-header {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-bottom: 20px;
      .svg {
        cursor: pointer;
        svg {
          width: 25px;
          height: 25px;
        }
      }
    }
    .survey-recap-item {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      .label {
        font-weight: 700;
        font-size: 0.65rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: dodgerblue;
      }
      .value {

      }
    }
  }
  .journey-textarea-input {
    textarea {
      min-height: 140px;
      border: 2px solid transparent;
      &:focus {
        border: 2px solid $dynamic-color;
        outline: none;
        box-shadow: none;
      }
    }
  }
  .journey-number-inputs {
    .journey-number-input {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .numeric-stepper-minus {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        margin-right: 20px;
        background-color: white;
        cursor: pointer;
        .svg {
          margin: 0;
          svg {
            width: 25px;
            height: 25px;
          }
        }
      }
      .numeric-stepper-plus {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        margin-left: 20px;
        background-color: white;
        cursor: pointer;
        .svg {
          margin: 0;
          svg {
            width: 25px;
            height: 25px;
          }
        }
      }
      input[type="number"] {
        width: 100px;
        height: 50px;
        border-radius: 4px;
        border: none;
        outline: none;
        box-shadow: none;
        padding-left: 20px;
        font-weight: 500;
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          margin: 0;
        }
      }
    }
  }
  .journey-text-inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    .journey-text-input {
      padding: 20px;
      width: 100%;
      .small-hint {
        font-size: 0.9rem;
        text-align: center;
        margin-top: 10px;
      }
      input[type="text"] {
        width: 100%;
        height: 50px;
        padding-left: 10px;
        border-radius: 4px;
        border: none;
        box-shadow: none;
        border: 2px solid transparent;
        &:focus {
          border: 2px solid $dynamic-color;
          outline: none;
          box-shadow: none;
        }
        &::placeholder {
          font-weight: 500;
          color: rgb(160,160,170);
        }
      }
    }
  }
  .journey-radio-inputs {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    .journey-radio-input {
      padding: 6px;
      input[type="radio"] {
        display: none;
      }
      label {
        cursor: pointer;
        display: flex;
        align-items: center;
      }
      label:after {
        content: "";
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 21px;
        height: 21px;
        margin-right: 14px;
        order: -1;
        border-radius: 50%;
        border: 2px solid rgb(200,200,200);
      }
      input[type="radio"]:checked + label {
        &:after {
          content: "";
          background-color: $dynamic-color;
          border-color: $dynamic-color;
          background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI+PHBvbHlsaW5lIHBvaW50cz0iMjAgNiA5IDE3IDQgMTIiPjwvcG9seWxpbmU+PC9zdmc+Cg==");
          background-size: 70%;
          background-position: center center;
          background-repeat: no-repeat;
        }
      }
    }
  }
  .journey-radio-by-pair-inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    .journey-radio-by-pair-input {
      padding: 20px;
      display: flex;
      flex-direction: column;
      input[type="radio"] {
        display: none;
      }
      label {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      label:after {
        content: "";
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 21px;
        height: 21px;
        margin-top: 6px;
        border-radius: 50%;
        border: 2px solid rgb(200,200,200);
      }
      input[type="radio"]:checked + label {
        &:after {
          content: "";
          background-color: $dynamic-color;
          border-color: $dynamic-color;
          background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI+PHBvbHlsaW5lIHBvaW50cz0iMjAgNiA5IDE3IDQgMTIiPjwvcG9seWxpbmU+PC9zdmc+Cg==");
          background-size: 70%;
          background-position: center center;
          background-repeat: no-repeat;
        }
      }
    }
  }
  .journey-geocode-input {
    input[type="text"] {
      border: 2px solid transparent;
      min-width: 330px;
      &:focus {
        border: 2px solid $dynamic-color;
        outline: none;
        box-shadow: none;
      }
      &::placeholder {
        color: lighten($dark-blue,10%);
      }
    }
  }
  .journey-checkbox-inputs {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    .journey-checkbox-badge-style {
      input[type="checkbox"] {
        display: none;
      }
      label {
        cursor: pointer;
        margin-right: 10px;
        padding: 4px 10px;
        border-radius: 20px;
        border: 1px solid rgb(160,160,160);
        transition: 0.3s;
      }
      input[type="checkbox"]:checked + label {
        background-color: lighten($dark-blue,10%);
        border-color: lighten($dark-blue,10%);
        color: white;
      }
    }
    .journey-checkbox-input {
      padding: 6px;
      input[type="checkbox"] {
        display: none;
      }
      label {
        cursor: pointer;
        display: flex;
        align-items: center;
      }
      label:after {
        content: "";
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 21px;
        height: 21px;
        margin-right: 14px;
        order: -1;
        border-radius: 3px;
        border: 2px solid rgb(200,200,200);
      }
      input[type="checkbox"]:checked + label {
        &:after {
          content: "";
          background-color: $dynamic-color;
          border-color: $dynamic-color;
          background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI+PHBvbHlsaW5lIHBvaW50cz0iMjAgNiA5IDE3IDQgMTIiPjwvcG9seWxpbmU+PC9zdmc+Cg==");
          background-size: 70%;
          background-position: center center;
          background-repeat: no-repeat;
        }
      }
    }
  }
  .form-buttons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    .disabled-btn {
      opacity: 0.3;
      cursor: not-allowed !important;
    }
    .question-skip-btn {
      cursor: pointer;
      padding: 8px 16px;
      background-color: rgba(255,255,255,0.7);
      border-radius: 4px;
      margin: 0 10px;
      font-weight: 600;
      border: none;
      box-shadow: none;
      font-size: 1rem;
    }
    .question-submit-btn {
      cursor: pointer;
      padding: 8px 16px;
      background-color: $fade-green;
      color: white;
      border-radius: 4px;
      margin: 0 10px;
      font-weight: 600;
      border: none;
      box-shadow: none;
      font-size: 1rem;
      display: flex;
    }
  }
  .journey-avatar {
    .svg {
      margin-right: 30px;
      svg {
        width: 50px;
        height: 50px;
        fill: transparent;
        stroke-width: 2;
      }
    }
  }
  .journey-customer-avatar {
    .svg {
      margin-left: 30px;
      margin-right: 0;
      svg {
        width: 50px;
        height: 50px;
        fill: transparent;
        stroke-width: 2;
      }
    }
  }
  .question-label {
    padding: $bot-text-padding;
    background-color: $question-label-color;
    border-radius: 4px;
    color: $bot-text-color;
    font-weight: 600;
    font-size: $bot-text-font-size;
    max-width: $bot-text-width;
    position: relative;
    .interogative-dynamic-label-variable {
      display: inline-block;
    }
    .dynamic-label-variable {
      display: inline-block;
    }
    .interogative-dynamic-label-variable:after {
      content: " ?";
    }
    .carret-container {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      top: 0;
      left: -($carret-width / 2) + 1px;
      .carret {
        background-color: $question-label-color;
        width: $carret-width;
        height: $carret-width;
        border-radius: 2px;
        transform: rotate(45deg);
      }
    }
  }
  .question-answer {
    padding: $bot-answer-padding;
    background-color: $question-answer-color;
    border-radius: 4px;
    color: $bot-text-color;
    font-weight: 600;
    font-size: $bot-text-font-size;
    max-width: $max-width-answer-size;
    position: relative;
    .carret-container {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      top: 0;
      right: -($carret-width / 2) + 1px;
      .carret {
        background-color: $question-answer-color;
        width: $carret-width;
        height: $carret-width;
        border-radius: 2px;
        transform: rotate(45deg);
      }
    }
  }
}

@media (max-width: 768px) {
  .custom-boolean-input label {
    font-size: 0.7rem;
    strong {
      margin-left: 3px;
    }
  }
  section.exit-step-1, section.exit-step-2, section.exit-step-3 {
    flex-direction: column;
    padding: 20px;
    padding-bottom: 50px;
    .text {
      font-size: 0.9rem;
    }
    .left-block {
      .svg {
        display: none;
      }
    }
    .custom-progress-container {
      display: none;
    }
  }
  section.journey-geolocalisation {
    padding: 20px;
    .content {
      padding-top: 100px;
      .big-title {
        font-size: 1.5rem;
      }
    }
  }
  section.journey {
    padding: 20px;
    padding-top: 50px;
    .journey-radio-by-pair-inputs {
      display: block;
    }
    .journey-text-inputs {
      flex-direction: column;
      .journey-text-input {
        padding: 5px;
      }
    }
    .journey-avatar {
      .svg {
        svg {
          width: 35px;
          height: 35px;
        }
      }
    }
    .journey-customer-avatar {
      .svg {
        svg {
          width: 35px;
          height: 35px;
        }
      }
    }
    .journey-radio-inputs .journey-radio-input label:after {
      min-width: 21px;
    }
    .question-label {
      font-size: 0.85rem;
      padding: 20px;
    }
    .question-answer {
      padding: 20px;
    }
  }
}

@media (max-width: 768px) {
  section.journey .journey-checkbox-inputs {
    justify-content: flex-start;
  }
  section.journey .form-buttons-container {
    flex-direction: column;
    .question-skip-btn {
      margin-bottom: 15px;
    }
  }
}


@media (max-width: 768px) {
  .journey-geocode-input {
    input[type="text"] {
      border: 2px solid transparent;
      min-width: 100% !important;
      &:focus {
        border: 2px solid lighten($fade-green,10%);
        outline: none;
        box-shadow: none;
      }
      &::placeholder {
        color: lighten($dark-blue,10%);
      }
    }
  }
}



.agency-svg-logo {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    width: 40%;
  }
}

@media (max-width: 768px) {
  .agency-svg-logo {
    margin-bottom: 25px;
    svg {
      width: 60%;
    }
  }
}

.btn-dynamic-color {
  background-color: $dynamic-color;
  color: white;
  transition: 0.3s;
  &:hover {
    color: white;
    opacity: 0.7;
  }
}


.home-agency-svg {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    width: 90%;
    height: 120px;
  }
}


@media (max-width: 768px) {
  .home-agency-svg {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      width: 90%;
    }
  }
}

.bottom-fixed-logo {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  color: white;
  font-size: 1.3rem;
  font-weight: 600;
  .aristid-logo {
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 10px;
    svg {
      height: 50%;
    }
  }
}


