section.questions {
  display: flex;
  flex-direction: column;
  padding: 100px;
  .big-title {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 15px;
  }
  .question-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
    .question-item {
      display: flex;
      flex-direction: column;
      margin-right: 35px;
      .question-item-title {
        letter-spacing: 2px;
        font-weight: 600;
        font-size: 0.7rem;
        text-transform: uppercase;
        color: lightseagreen;
        margin-bottom: 8px;
      }
      .question-item-value {
      }
    }
  }
  .answers-container {
    margin-bottom: 50px;
    .answer-item {
      display: flex;
      align-items: center;
      padding: 20px;
      border: 1px solid rgb(200,200,200);
      border-radius: 4px;
      margin: 10px 0;
      .answer-item-block {
        display: flex;
        flex-direction: column;
        margin-right: 35px;
        .answer-item-block-title {
          letter-spacing: 2px;
          font-weight: 600;
          font-size: 0.7rem;
          text-transform: uppercase;
          color: lightseagreen;
          margin-bottom: 8px;
        }
        .answer-item-block-value {

        }
      }
    }
  }
  .conditions-container {
    .condition-item {

    }
  }
  .sentences-container {
    .sentence-item {

    }
  }
}
