section.survey-resume {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 150px;
  position: relative;
  .agency-logo-fixed-wrapper {
    position: fixed;
    top: 30px;
    left: 40px;
    display: flex;
    align-items: center;
    .svg-container {
      svg {
        width: 300px;
        height: 60px;
      }
    }
  }
  .agency-block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 25px;
    a:hover {
      text-decoration: none;
    }
    .agency-info-item {
      border: 3px solid $light-blue;
      border-radius: 20px;
      padding: 4px;
      padding-right: 16px;
      display: flex;
      align-items: center;
      color: $dark-blue;
      font-weight: 600;
      cursor: pointer;
      transition: 0.3s;
      text-decoration: none;
      margin-left: 10px;
      margin-right: 10px;
      &:hover {
        background-color: $light-blue;
        color: white;
      }
      .svg-container {
        width: 24px;
        height: 24px;
        margin-right: 6px;
        border-radius: 50%;
        background-color: $light-blue;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          width: 60%;
          height: 60%;
          fill: white;
          stroke: none;
        }
      }
    }
  }
  .survey-resume-title {
    font-size: 1.4rem;
    font-weight: 700;
    color: $dark-blue;
  }
  .svg {
    svg {
      width: 100px;
      height: 100px;
    }
  }
  .survey-resume-content {
    font-size: 1rem;
    font-weight: 500;
    color: $dark-blue;
  }
}



@media (max-width: 768px) {
  section.survey-resume {
    padding: 25px;
    .survey-resume-title {
      font-size: 1.3rem;
      text-align: center;
    }
    .survey-resume-content {
      text-align: center;
    }
    .agency-block {
      flex-direction: column;
      .agency-info-item {
        margin-bottom: 10px;
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}
