%section.account-menu
  .dropdown
    .d-flex.align-items-center.justify-content-center{"aria-expanded": "false", "aria-haspopup": "true", "data-toggle": "dropdown"}
      .feather-svg-lightred
        = feather_svg("unicon-user-circle")
      .agent-mail
        = current_agent.email
      .feather-svg-darkblue
        = feather_svg("chevron-down")
    .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "dropdownMenuButton"}
      = link_to root_path do
        .dropdown-item
          .feather-svg-lightred.mr-2
            = feather_svg("settings")
          Profil et paramètres
      = link_to root_path do
        .dropdown-item
          .feather-svg-lightred.mr-2
            = feather_svg("log-out")
          Déconnexion
