- if @agent.is_admin?
  = "Vous êtes admin"
  - @agent.agent_role.access.each do |route|
    = link_to route[:label], route[:path], class: "btn btn-primary"
- elsif @agent.is_agent?
  = "Vous êtes un agent commercial"
