%section.project
  .project-section
    .title L'essentiel
    .project-content
      .left-content
        .content-item
          .label
            = "Destination"
          .value
            - if @survey.destination
              = @survey.destination_slug
            - else
              %span Non renseigné
        .content-item
          .label
            = "Projet"
          .value
            - if @survey.project
              = @survey.project_slug
            - else
              %span Non renseigné

      .right-content
        .content-item
          .label
            = "Situation"
          .value
            - if @survey.actual_situation
              = @survey.actual_situation_slug
            - else
              %span Non renseigné

  .project-section
    .title Plus de détails
    .project-content
      .left-content
        .content-item
          .label
            = "Rapprochement"
          .value
            - if @survey.location_link
              = @survey.location_link_slug.first(2).join(" - ")
            - else
              %span Non renseigné
        .content-item
          .label
            = "Enfants"
          .value
            - if @survey.school_type
              = @survey.school_type.join(" - ")
            - else
              %span Non renseigné
        .content-item
          .label
            = "Rénov. énergétique"
          .value
            - if @survey.energy_renovation
              = @survey.energy_renovation
            - else
              %span Non renseigné
        .content-item
          .label
            = "A proximité"
          .value
            - if @survey.proximity_situation
              = @survey.proximity_situation
            - else
              %span Non renseigné
        .content-item
          .label
            = "Contact banquier"
          .value
            - if @survey.banker_contact
              = @survey.banker_contact
            - else
              %span Non renseigné

      .right-content
        .content-item
          .label
            = "Urgence"
          .value
            - if @survey.project_temporality
              = @survey.project_temporality
            - else
              %span Non renseigné
        .content-item
          .label
            = "Nb visites"
          .value
            - if @survey.visited_property_count
              = @survey.visited_property_count_slug
            - else
              %span Non renseigné
        .content-item
          .label
            = "Recherche"
          .value
            - if @survey.search_time
              = @survey.search_time
            - else
              %span Non renseigné
        .content-item
          .label
            = "Transport"
          .value
            - if @survey.favorite_transportation_mode
              = @survey.favorite_transportation_mode.join(" - ")
            - else
              %span Non renseigné
        .content-item
          .label
            = "Courtier"
          .value
            - if @survey.broker_contact
              = @survey.broker_contact_slug
            - else
              %span Non renseigné


  .project-section
    .title Son logement actuel
    .project-content
      .left-content
        .content-item
          .label
            = "Adresse"
          .value
            - if @survey.current_address
              = @survey.current_address
            - else
              %span Non renseigné
        .content-item
          .label
            = "Type de bien"
          .value
            - if @survey.actual_housing
              = @survey.actual_housing
            - else
              %span Non renseigné
        .content-item
          .label
            = "Déménagement"
          .value
            - if @survey.current_location
              = @survey.current_location_slug
            - else
              %span Non renseigné
        .content-item
          .label
            = "Commentaire"
          .value
            - if @survey.actual_housing_strong_points
              = @survey.actual_housing_strong_points
            - else
              %span Non renseigné

      .right-content
        .content-item
          .label
            = "Surface"
          .value
            - if @survey.actual_housing_area
              = "#{@survey.actual_housing_area}m²"
            - else
              %span Non renseigné
        .content-item
          .label
            = "Ancienneté"
          .value
            - if @survey.installation_date
              = @survey.installation_date
            - else
              %span Non renseigné

