%h4
  = "#{@survey.customer.firstname} #{@survey.customer.lastname}"
.p.d-none
  - if @survey.man_persona
    = @survey.man_persona.parameterize
  - elsif @survey.woman_persona
    = @survey.woman_persona.parameterize

.menu-item
  = feather_svg("mail")
  .email-field
    = @survey.customer.email
.menu-item
  = feather_svg("phone")
  = format_phone(@survey.customer.phone_number)
.menu-item
  = feather_svg("compass")
  = @survey.customer.city
- if @survey.is_owner?
  .menu-item
    = feather_svg("key")
    = "Propriétaire"

%h5 Le projet en 2 mots...
.menu-item-alt
  = feather_svg("check")
  = @survey.property_type
.menu-item-alt
  = feather_svg("check")
  = "#{@survey.surface}m²"
.menu-item-alt
  = feather_svg("check")
  = "#{@survey.rooms} chambres"
.menu-item-alt
  = feather_svg("check")
  = @survey.cities.join("-")
.menu-item-alt
  = feather_svg("check")
  = @survey.project_slug
