.menu-logo
  = svg("logo-aristid-visage")

- if current_page?(dashboard_agency_path)
  .menu-item.active
    = link_to dashboard_agency_path do
      .feather-svg-white
        = feather_svg("home")
- else
  .menu-item
    = link_to dashboard_agency_path do
      .feather-svg-white.opacity-7
        = feather_svg("home")

.menu-item
  .feather-svg-white.opacity-7
    = feather_svg("bar-chart")

- if current_page?(dashboard_surveys_path)
  .menu-item.active
    = link_to dashboard_surveys_path do
      .feather-svg-white
        = feather_svg("users")
- else
  .menu-item
    = link_to dashboard_surveys_path do
      .feather-svg-white.opacity-7
        = feather_svg("users")
