%section.project
  .project-section
    .title L'essentiel
    .project-content
      .left-content
        .content-item
          .label
            = "Prénom"
          .value
            - if @survey.customer.firstname
              = @survey.customer.firstname
            - else
              %span Non renseigné
        .content-item
          .label
            = "Age"
          .value
            - if @survey.age
              = @survey.age_slug
            - else
              %span Non renseigné

      .right-content
        .content-item
          .label
            = "Nom"
          .value
            - if @survey.customer.lastname
              = @survey.customer.lastname
            - else
              %span Non renseigné

  .project-section
    .title Plus de détails
    .project-content
      .graph-left-content
        .graph-title Sa maturité
        = generate_half_pie_chart(fullcolor: "#f1f2f7", color: "rgb(62,81,178)", percent: @survey.survey_scoring.maturity.to_i, outerwidth: 14, innerwidth: 14)
      .graph-right-content
        .graph-title Sa personnalité
        .polar-chart-container
          .custom-fixed-legend-tl Rationnel
          .custom-fixed-legend-bl Affectif
          .custom-fixed-legend-tr Indécis
          .custom-fixed-legend-br Audacieux
          %canvas#personality{height: "230", width: "230"}

    .project-content
      .graph-left-content
        .graph-title Son expérience
        = generate_half_pie_chart(fullcolor: "#f1f2f7", color: "rgb(231,120,87)", percent: @survey.survey_scoring.experience.to_i, outerwidth: 14, innerwidth: 14)
      .graph-right-content
        .graph-title Ajustements possibles
        .growing-content
          = generate_rounded_progress_bar(percent: @survey.survey_scoring.flexibility.to_i, color: "rgb(231,120,87)")
