%section.project
  .project-section
    .title L'essentiel
    .project-content
      .left-content
        .content-item
          .label
            = "Type de bien"
          .value
            = @survey.property_type_slug
        .content-item
          .label
            = "Nb chambres"
          .value
            = @survey.rooms
        .content-item
          .label
            = "Etat"
          .value
            - if @survey.state
              = @survey.state.join("-")

      .right-content
        .content-item
          .label
            = "Budget"
          .value
            = format_budget(@survey.budget)
        .content-item
          .label
            = "Surface"
          .value
            = "#{@survey.surface}m²"
        .content-item
          .label
            = "Localisation"
          .value
            = @survey.cities.join("-")

  .project-section
    .title Plus de détails
    .project-content
      .left-content
        .content-item
          .label
            = "Travaux"
          .value
            - if @survey.house_works
              = @survey.house_works_slug
            - else
              %span Non renseigné
        .content-item
          .label
            = "Etages"
          .value
            - if @survey.house_stairs
              = @survey.house_stairs_slug
            - else
              %span Non renseigné
      .right-content
        .content-item
          .label
            = "Pièce principale"
          .value
            - if @survey.principal_space
              = "#{@survey.principal_space}m²"
            - else
              %span Non renseigné
        .content-item
          .label
            = "DPE"
          .value
            - if @survey.dpe
              = @survey.dpe
            - else
              %span Non renseigné

  .project-section
    .title Les petits plus
    .project-content
      .left-content
        .content-item
          .label
            = "Style"
          .value
            - if @survey.style
              = @survey.style.join("-")
            - else
              %span Non renseigné
        .content-item
          .label
            = "Cuisine"
          .value
            - if @survey.kitchen
              = @survey.kitchen
            - else
              %span Non renseigné
      .right-content
        .content-item
          .label
            = "Garage"
          .value
            - if @survey.garage
              = @survey.garage
            - else
              %span Non renseigné
        .content-item
          .label
            = "Extérieur"
          .value
            - if @survey.house_exterior
              = @survey.house_exterior
            - else
              %span Non renseigné

