.container
  %section.answers
    - @questions.each do |question|
      .answer-item
        .question-details
          .position
            = question.position
          = question.label
          %h5.badge.badge-primary
            = question.field_name
        - question.answers.each do |answer|
          .mb-4
            %h5
              = answer.text
            / = simple_form_for answer do |f|
            /   = f.input :question_id, as: :hidden, input_html: {value: question.id.to_s}
            /   .d-flex.align-items-center.my-2
            /     .answer-text
            /       = answer.text
            /       .slug
            /         = answer.slug if answer.slug
            /     = f.input :slug, label: false, placeholder: "Slug", input_html: {class: "form-control"}
            /     = f.submit "Créer un slug", class: "btn btn-dark"

            - if answer.scoring_points != {}
              = answer.scoring_points
            - else
              - if question.type != "text"
                - if question.field_name.to_sym == :temperament_features || question.field_name.to_sym == :personality || question.field_name.to_sym == :house_works || question.field_name.to_sym == :couple_choice || question.field_name.to_sym == :destination
                  = simple_form_for answer do |f|
                    .d-flex.align-items-center
                      - ["rational","affective","undecided","bold"].each do |item|
                        = tag.label item.to_s
                        = tag.input type: "text", name: "answer[scoring_points][#{item}]"
                    = f.submit "Créer des scoring points", class: "btn btn-dark"
                - else
                  = simple_form_for answer do |f|
                    = tag.label "Points pour cette réponse"
                    = tag.input type: "text", name: "answer[scoring_points]"
                    = f.submit "Créer un scoring pour cette réponse", class: "btn btn-dark"
