= simple_form_for :answer, url: change_answer_order_path, method: :post do |f|
  = f.input :new_order, label: false, placeholder: "Nouvelle position", input_html: {class: "form-control"}
  = f.submit "Changer l'ordre"
