- if @agency
  %section.journey-geolocalisation{style: "background-image: linear-gradient(rgba(100,100,100,0.5),rgba(100,100,100,0.5)), url(#{@agency.photo_url});"}
    .bottom-fixed-logo
      .aristid-logo
        = svg("Logo-Aristid")
      .aristid-logo-text à votre service
    .content
      - if @agency.custom_style.logo
        .home-agency-svg
          = svg("#{@agency.custom_style.logo}-logo")
      .svg.biggest.d-none
        = svg("Logo-Aristid")
      .big-title Où voulez-vous vivre ?
      .survey-geolocalisation
        %form{action: "#{start_journey_path(lname: @agency.name)}", method: "post"}
          %input{type: "hidden", name: "agency", value: "#{@agency.id.to_s}"}
          .d-flex.align-items-center
            %select#advanced-input{name: "geoloc[]", multiple: "true"}
            %span
              %input.btn.btn-custom-blue.btn-bold.custom-btn-bold-height{type: "submit", value: "Je cherche", style: "--agency-color: #{@agency.custom_style.primary_color};"}
          #select-custom-container


- else
  %section.journey-geolocalisation{style: "background-image: linear-gradient(rgba(100,100,100,0.5),rgba(100,100,100,0.5)), url(#{asset_path 'journey-background.jpg'});"}
    .content
      .svg.biggest
        = svg("Logo-Aristid")
      .big-title Où voulez-vous vivre ?
      .survey-geolocalisation
        %form{action: "#{start_journey_path}", method: "post"}
          .d-flex.align-items-center
            %select#advanced-input{name: "geoloc[]", multiple: "true"}
            %span
              %input.btn.btn-custom-blue.btn-bold.custom-btn-bold-height{type: "submit", value: "Je cherche", style: "--agency-color: rgb(60,78,172);"}
          #select-custom-container

