%section.survey-resume
  .survey-resume-title Youpi ! Ma demande est bien enregistrée
  .svg.my-5
    = svg("logo-aristid-visage")
  .survey-resume-content
    %div.text-center
      = "Ma demande est maintenant en attente."
    %span
      = "Je vais bientôt être contacté par l'agence"
      %b
        - if @agency.custom_style.fullname
          = "#{@agency.custom_style.fullname}"
        - elsif @agency.name
          = "#{@agency.name}"
  - if @agency
    .agency-logo-fixed-wrapper
      .svg-container
        = svg("#{@agency.custom_style.dark_logo}-logo")
    .agency-block
      - if @agency.phone
        = link_to "tel:#{@agency.phone.phony_formatted(normalize: :FR, spaces: ' ')}" do
          .agency-info-item
            .svg-container
              = svg("phone")
            = @agency.phone.phony_formatted(normalize: :FR, spaces: ' ')
      - if @agency.facebook_url
        = link_to @agency.facebook_url, target: "_blank" do
          .agency-info-item
            .svg-container
              = svg("facebook")
            = "Rejoindre sur Facebook"
      - if @agency.website_url
        = link_to @agency.website_url, target: "_blank" do
          .agency-info-item
            .svg-container
              = svg("mouse-pointer")
            = "Site internet"
