- if @agency
  %section.fixed-section{style: "background-image: linear-gradient(rgba(100,100,100,0.5),rgba(100,100,100,0.5)), url(#{@agency.photo_url});"}
    %section.journey{style: "--agency-color: #{@agency.custom_style.primary_color};"}
      = render "journey/partials/agency_logo"
      = render "journey/partials/question_label"
      = render "journey/partials/question_answer"
      = render "journey/partials/signup_modal"
- else
  %section.fixed-section{style: "background-image: linear-gradient(rgba(100,100,100,0.5),rgba(100,100,100,0.5)), url(#{asset_path 'journey-background.jpg'});"}
    %section.journey{style: "--agency-color: #49b6af;"}
      = render "journey/partials/question_label"
      = render "journey/partials/question_answer"
      / = render "journey/partials/fixed_survey_recap_container"
      / = render "journey/partials/survey_recap_container_trigger"
      = render "journey/partials/signup_modal"

= render "journey/partials/fixed_exit_step_container"
