%header.scrolly
  Header test
#scrolly
  %article
    .step
      = "Step 1"
      .progress
    .step
      = "Step 2"
      .progress
    .step
      = "Step 3"
      .progress
    .step
      = "Step 4"
      .progress
    .step
      = "Step 5"
      .progress
    .step
      = "Step 6"
      .progress
    .step
      = "Step 7"
      .progress
    .step
      = "Step 8"
      .progress
