%section.errors{style: "background-image: linear-gradient(rgba(30,30,30,0.8),rgba(70,70,70,0.8)), url(#{asset_path 'journey-background.jpg'});"}
  .content
    .svg
      = svg("errors")
    .big-text
      = "Oops... Désolé, nous rencontrons un petit problème"
    .small-text
      = "Nous vous conseillons de recharger la page"
    .small-text
      = "Si cela ne fonctionne pas, réessayez ultérieurement"
