- if @agency.custom_style.logo
  - if @agency.website_url
    = link_to @agency.website_url, target: "_blank" do
      .agency-svg-logo
        = svg("#{@agency.custom_style.logo}-logo")
  - else
    .agency-svg-logo
      = svg("#{@agency.custom_style.logo}-logo")
