%section.exitstep.exitstep-1.d-none{style: "--agency-color: #{@agency ? @agency.custom_style.primary_color : '#49b6af'};"}
  %section.exit-step-1
    .left-block
      .svg
        = svg("trophy")
      .text
        %strong Nous avons les bases !
        Je m'inscris maintenant ou je continue pour recevoir des propositions personnalisées
    .righ-block
      .btn.btn-light.btn-bold.btn-pointer.signup-trigger{"data-target": ".customer-signup-modal"} Je m'inscris
      .btn.btn-dynamic-color.btn-bold.btn-pointer.exit-step-closer.ml-2{"data-target": ".exitstep-1"} Je continue
    .custom-progress-container
      .start-icon
        = svg("progress-search")
      .custom-progress
        .custom-progress-bar{style: "width: 25%;"}
      .end-icon
        = svg("progress-home")

%section.exitstep.exitstep-2.d-none{style: "--agency-color: #{@agency ? @agency.custom_style.primary_color : '#49b6af'};"}
  %section.exit-step-2
    .left-block
      .svg
        = svg("trophy")
      .text
        %strong Chouette ! Nous commençons à y voir vraiment plus clair
        Et si nous continuions d'affiner votre recherche, pour trouver le logement qui vous ressemble vraiment ?
    .righ-block
      .btn.btn-light.btn-bold.btn-pointer.signup-trigger{"data-target": ".customer-signup-modal"} Je m'inscris
      .btn.btn-dynamic-color.btn-bold.btn-pointer.exit-step-closer.ml-2{"data-target": ".exitstep-2"} Je continue
    .custom-progress-container
      .start-icon
        = svg("progress-search")
      .custom-progress
        .custom-progress-bar{style: "width: 50%;"}
      .end-icon
        = svg("progress-home")

%section.exitstep.exitstep-3.d-none{style: "--agency-color: #{@agency ? @agency.custom_style.primary_color : '#49b6af'};"}
  %section.exit-step-3
    .left-block
      .svg
        = svg("trophy")
      .text
        %strong C'est presque terminé !
        Je m'inscris maintenant ou je continue pour recevoir des propositions personnalisées
    .righ-block
      .btn.btn-light.btn-bold.btn-pointer.signup-trigger{"data-target": ".customer-signup-modal"} Je m'inscris
      .btn.btn-dynamic-color.btn-bold.btn-pointer.exit-step-closer.ml-2{"data-target": ".exitstep-3"} Je continue
    .custom-progress-container
      .start-icon
        = svg("progress-search")
      .custom-progress
        .custom-progress-bar{style: "width: 75%;"}
      .end-icon
        = svg("progress-home")

%section.exitstep.exitstep-4.d-none{style: "--agency-color: #{@agency ? @agency.custom_style.primary_color : '#49b6af'};"}
  %section.exit-step-4
    .left-block
      .svg
        = svg("trophy")
      .text
        %strong C'est terminé !
        Validez maintenant votre inscription pour recevoir des propositions personnalisées.
    .righ-block
      .btn.btn-dynamic-color.btn-bold.btn-pointer.signup-trigger{"data-target": ".customer-signup-modal"} Je m'inscris
    .custom-progress-container
      .start-icon
        = svg("progress-search")
      .custom-progress
        .custom-progress-bar{style: "width: 100%;"}
      .end-icon
        = svg("progress-home")
