%section.fixed_survey_recap_container.d-none
  .survey-recap-header
    .svg.survey-recap-close-trigger
      = svg("x-close")
  - @survey.french_instance.each do |k,v|
    .survey-recap-item
      .label
        = "#{k}"
      .value
        - if v.is_a?(String)
          = "#{v}"
        - elsif v.is_a?(Array)
          = v.join(" - ")
        - elsif k.to_s.downcase == "pièces"
          = "#{v}"
        - else
          = Answer.find_by(increment_id: v.to_i).text
