.journey-progression-container
  .progress{style: "height: 10px;"}
    .progress-bar{"aria-valuemax": "100", "aria-valuemin": "0", "aria-valuenow": "25", role: "progressbar", style: "width: #{@progression}%;"}
