.journey-sentence
  = @question.sentence.text
  - if @question.sentence?
    - if @question.sentence.survey_field_to_display
      = @survey[@question.sentence.survey_field_to_display.to_sym].downcase.capitalize
    - if @question.sentence.text_after_survey_field
      = @question.sentence.text_after_survey_field
