.d-flex.align-items-center.justify-content-start.mb-5#questionlabel
  .journey-avatar
    .svg
      = svg("logo-aristid-visage")
  .question-label
    .carret-container
      .carret
    - if @question.sentence?
      = render "journey/partials/question_sentence"
    = @question.label
    - if @question.field_in_label_to_display
      - if @question.text_to_display_after_variable
        .dynamic-label-variable
          = @survey.send("#{@question.field_in_label_to_display}_slug".to_sym)
      - else
        .interogative-dynamic-label-variable
          = @survey.send("#{@question.field_in_label_to_display}_slug".to_sym)
    - if @question.text_to_display_after_variable
      = @question.text_to_display_after_variable
