.d-flex.align-items-center.justify-content-end#questionanswer
  .question-answer
    .carret-container
      .carret
    = form_tag(next_question_path, method: :post,id: "question-form-#{@question.position}",class: "question-form","data-position": @question.position) do
      = render "journey/partials/hidden_fields"
      = render "journey/partials/inputs/#{@question.type.downcase}"
      = render "journey/partials/inputs/form_buttons"
      = render "journey/partials/inputs/hint"
  .journey-customer-avatar
    .svg
      - if @survey.gender
        = @survey.boy? ? svg("journey-boy") : svg("journey-girl")
      - else
        = svg("unknown-gender")
