.custom-modal-wrapper.customer-signup-modal.d-none
  .custom-modal
    .custom-modal-close-container
      .svg
        = svg("x-close")
    .custom-modal-body
      = render "customers/registrations/new"
