.answer-item
  .answer-item-block
    .answer-item-block-title Order
    .answer-item-block-value
      = answer.order
  .answer-item-block.f-grow
    .answer-item-block-title Placeholder
    .answer-item-block-value
      = answer.placeholder
  .answer-item-block
    .answer-item-block-title Increment id
    .answer-item-block-value
      = answer.increment_id
  .answer-item-block
    .answer-item-block-title Actions
    .answer-item-block-value
      = link_to "Edit", edit_answer_path(answer, question: @question.id)
