.answer-item
  .answer-item-block
    .answer-item-block-title Order
    .answer-item-block-value
      = answer.order
  .answer-item-block.f-grow
    .answer-item-block-title Text
    .answer-item-block-value
      = answer.text
  .answer-item-block
    .answer-item-block-title Increment id
    .answer-item-block-value
      = answer.increment_id
  .answer-item-block
    .answer-item-block-title Actions
    .answer-item-block-value
      = link_to "Edit", edit_answer_path(answer, question: @question.id)
      = link_to "Delete", answer_path(answer), method: :delete, alert: "Etes-vous sûr ?"
  = simple_form_for :answer, url: change_answer_order_path, method: :post do |f|
    = f.input :id, as: :hidden, input_html: {value: answer.id.to_s}
    = f.submit "Changer l'ordre", class: "btn btn-dark"
    - @question.answers.sort_by{|answ| answ.order}.each_with_index do |answ,index|
      - if answ.order == answer.order
        = tag.input type: :radio, name: "answer[new_order]", value: answ.order, disabled: true, id: "#{answer.order}-#{answ.order}-#{index+1}"
        = label_tag "#{answer.order}-#{answ.order}-#{index+1}", answ.order
      - else
        = tag.input type: :radio, name: "answer[new_order]", value: answ.order, id: "#{answer.order}-#{answ.order}-#{index+1}"
        = label_tag "#{answer.order}-#{answ.order}-#{index+1}", answ.order

