.container
  %h4
    = "Les agents de l'agence #{@agency.name}"
  - @agents.each_with_index do |agent,index|
    .d-flex.align-items-start.justify-content-start
      %b
        = index+1
      = agent_fullname(agent.firstname,agent.lastname)
      = agent.email
      = agent.phone
      = agent.agent_role.name
      = agent.active
