%section.aristid-dashboard
  %section.menu
    = render "dashboard/agencies/partials/fixed_menu"
  %section.content
    = render "dashboard/agencies/partials/account_menu"
    .fullheight-content
      .square-navigation-wrapper
        .circle-overlay
          .circle-item
            = svg("logo-aristid-visage")
            %p
              = "Bienvenue !"
            %p
              = "Moi c'est Aristid ,"
            %p
              = "à votre service."
        .navigation-top-line
          = link_to dashboard_agency_path do
            .navigation-item.red
              .fixed-size-svg-wrapper
                = feather_svg("user-plus")
              = "Ajouter un contact"
              .beta-feature.top-position
                = feather_svg("unicon-beta")
                .strong Bientôt disponible
          = link_to dashboard_surveys_path do
            .navigation-item.light-red
              .fixed-size-svg-wrapper
                = feather_svg("users")
              = "Mes contacts"
        .navigation-bottom-line
          = link_to dashboard_agency_path do
            .navigation-item.light-blue
              .fixed-size-svg-wrapper
                = feather_svg("bar-chart")
              = "Mon tableau de bord"
              .beta-feature.bottom-position
                = feather_svg("unicon-beta")
                .strong Bientôt disponible
          = link_to dashboard_agency_path do
            .navigation-item.blue
              .fixed-size-svg-wrapper
                = feather_svg("unicon-store")
              = "Mes biens"
              .beta-feature.bottom-position
                = feather_svg("unicon-beta")
                .strong Bientôt disponible

%section.agency-resume-block.d-none
  .agency-block.mb-4
    %h4 Agence
    = @agency.inspect
    .agency-svg-logo
      = svg("#{@agency.custom_style.logo}-logo")
    %p
      = "Site web de l'agence"
    - if @agency.website_url
      = link_to @agency.website_url, @agency.website_url, class: "btn btn-primary"
    = @agency.website_url
  .agent-block.mb-4
    %h4 Les agents
    - @agency.agents.each_with_index do |agent,index|
      .agent-item
        %b
          = index+1
        .agent-email
          = agent.email
        = agent.firstname
        = agent.lastname
        = agent.agent_role.name
        = agent.phone
  .surveys-block.mb-4
  .actions-block
    = link_to "Déconnexion", destroy_agent_session_path, method: :delete, class: "btn btn-primary", data: {confirm: "Attention !!"}
    = render "dashboard/agencies/partials/actions"
