%section.aristid-dashboard
  %section.menu
    = render "dashboard/agencies/partials/fixed_menu"
  %section.content.start-aligned
    = render "dashboard/agencies/partials/account_menu"
    .fullpage-content
      .page-title Tous les contacts
      #aristid-agency-table
        %table.table.agency-dashboard-table
          %thead
            %tr
              %th.sort{"data-sort": "date"}
                Crée le
                = feather_svg("code")
              %th.sort{"data-sort": "name"}
                Prénom Nom
                = feather_svg("code")
              %th.sort{"data-sort": "type"}
                Logement
                = feather_svg("code")
              %th.sort{"data-sort": "surface"}
                Surface
                = feather_svg("code")
              %th.sort{"data-sort": "budget"}
                Budget
                = feather_svg("code")
              %th{scope: "col"} Localisation
          %tbody.list
            - @surveys.each_with_index do |survey,index|
              %tr
                %th{:scope => "row"}
                  .date
                    = l(survey.created_at, format: :medium)
                %td
                  .name
                    - if survey.customer
                      = "#{survey.customer.firstname} #{survey.customer.lastname}"
                %td
                  = survey.property_type
                %td
                  .surface
                    = "#{survey.surface} m²"
                %td
                  .budget
                    - if survey.budget
                      = "#{number_with_delimiter(survey.budget.reject(&:empty?).first.to_i, delimiter: " ")} €"
                %td
                  - if survey.cities
                    = survey.cities.join("-")
                  = link_to dashboard_survey_path(survey) do
                    .table-action
                      .feather-svg-lightred
                        = feather_svg("chevron-right")
        .fixed-pagination
          %ul.pagination

%script{src: "//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"}

