%section.aristid-dashboard
  %section.menu
    = render "dashboard/agencies/partials/fixed_menu"
  %section.content.start-aligned
    = render "dashboard/agencies/partials/account_menu"
    .fullpage-content
      .page-title-column
        .title Fiche client
        - if request.referer.present?
          = link_to request.referer do
            .feather-svg-fadegreen
              = feather_svg("arrow-left")
            .backlink Retour aux contacts
        - else
          = link_to default_path do
            = feather_svg("arrow-left")
            .backlink Retour aux contacts
      %section.survey-wrapper
        %section.survey-menu
          - if @survey.customer
            = render "dashboard/agencies/partials/customer"
        %section.survey-content
          %ul.nav{:role => "tablist"}
            %li.nav-item
              %a.nav-link.active{"aria-controls" => "pills-home", "aria-selected" => "true", "data-toggle" => "tab", :href => "#pills-project", :role => "tab"} Projet
            %li.nav-item
              %a.nav-link{"aria-controls" => "pills-profile", "aria-selected" => "false", "data-toggle" => "tab", :href => "#pills-context", :role => "tab"} Contexte
            %li.nav-item
              %a.nav-link{"aria-controls" => "pills-contact", "aria-selected" => "false", "data-toggle" => "tab", :href => "#pills-profil", :role => "tab"} Profil
            %li.nav-item
              %a.nav-link{"aria-controls" => "pills-contact", "aria-selected" => "false", "data-toggle" => "tab", :href => "#pills-actions", :role => "tab"} Actions

          .tab-content
            #pills-project.tab-pane.fade.show.active{"aria-labelledby" => "pills-home-tab", :role => "tabpanel"}
              = render "dashboard/agencies/partials/project"
            #pills-context.tab-pane.fade{"aria-labelledby" => "pills-profile-tab", :role => "tabpanel"}
              = render "dashboard/agencies/partials/context"
            #pills-profil.tab-pane.fade{"aria-labelledby" => "pills-contact-tab", :role => "tabpanel"}
              - if @survey.survey_scoring
                = render "dashboard/agencies/partials/profile"
            #pills-actions.tab-pane.fade{"aria-labelledby" => "pills-contact-tab", :role => "tabpanel"}
              = "Les actions"
