$dynamic-color: var(--agency-color);

.custom-btn-bold-height {
  font-weight: 500;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 55px;
  padding: 0 20px;
}
.btn-bold {
  font-weight: 600;
}
.btn-pointer {
  cursor: pointer;
}

.btn-fade-green {
  background-color: $dynamic-color;
  border-color: $dynamic-color;
  color: white;
  transition: 0.3s;
  &:hover {
    color: white;
  }
}

.btn-custom-blue {
  background-color: $dynamic-color;
  border-color: $dynamic-color;
  color: white;
  transition: 0.3s;
  &:hover {
    color: white;
  }
}

.custom-btn-lightred {
  background-color: $light-red;
  border-color: $light-red;
  color: white;
  font-weight: 600;
  font-size: 0.9rem;
  transition: 0.3s;
  padding: 8px 18px;
  &:hover {
    color: white;
  }
}

input[type="submit"]:focus {
  outline: none;
}


