.polar-chart-container {
  background-color: white;
  position: relative;
  font-size: 0.9rem;
  font-weight: 600;
  width: 230px;
  height: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
  .custom-fixed-legend-tl {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 1;
    font-size: 0.8rem;
    font-weight: 700;
  }
  .custom-fixed-legend-bl {
    position: absolute;
    bottom: 0;
    left: 0;
    line-height: 1;
    font-size: 0.8rem;
    font-weight: 700;
  }
  .custom-fixed-legend-tr {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 1;
    font-size: 0.8rem;
    font-weight: 700;
  }
  .custom-fixed-legend-br {
    position: absolute;
    bottom: 0;
    right: 0;
    line-height: 1;
    font-size: 0.8rem;
    font-weight: 700;
  }
}



.halfpie-chart-container {
  background-color: white;
  width: 230px;
  height: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  svg {
    width: 150%;
    height: 135%;
  }
  .min-tick {
    .tick {
      width: 8px;
      border-radius: 4px;
      border-bottom: 4px solid currentColor;
    }
    .tick-value {
      margin-right: 6px;
      letter-spacing: -0.9px;
    }
    display: flex;
    align-items: center;
    position: absolute;
    font-size: 0.7rem;
    font-weight: 700;
    color: currentColor;
    left: 0;
    bottom: 50px;
  }
  .middle-tick {
    position: absolute;
    top: 26px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 0.7rem;
    font-weight: 700;
    color: currentColor;
    .tick {
      height: 8px;
      border-radius: 4px;
      border-left: 4px solid currentColor;
    }
    .tick-value {
      margin-bottom: 6px;
      line-height: 1;
      letter-spacing: -0.9px;
    }
  }
  .max-tick {
    .tick {
      width: 8px;
      border-radius: 4px;
      border-bottom: 4px solid currentColor;
    }
    .tick-value {
      margin-left: 6px;
      letter-spacing: -0.9px;
    }
    display: flex;
    align-items: center;
    position: absolute;
    font-size: 0.7rem;
    font-weight: 700;
    color: currentColor;
    right: -11px;
    bottom: 50px;
  }
  .value-display {
    position: relative;
    top: 25px;
    font-size: 1.3rem;
    font-weight: 700;
    font-family: -apple-system,BlinkMacSystemFont;
  }
}

.rounded-progress-bar {
  flex: 1;
  height: 20px;
  border-radius: 25px;
  background-color: rgb(230,230,240);
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  .inner-progress-bar {
    border-radius: 25px;
    height: 100%;
    background-color: rgb(250,80,110);
    display: flex;
    font-size: 80%;
    font-weight: 700;
    color: white;
    align-items: center;
    justify-content: center;
  }
}

.progress-fullcontainer {
  display: flex;
  align-items: center;
  width: 100%;
  span.progress-label-text {
    font-size: 0.8rem;
    font-weight: 700;
    &:first-child {
      margin-right: 15px;
    }
    &:last-child {
      margin-left: 15px;
    }
  }
}






