.dropdown {
  padding: 0 15px;
}
.dropdown-menu {
  border: none;
  width: 100%;
  padding: 0;
  margin-top: 15px;
  padding: 10px 0;
  z-index: 200000;
  left: unset !important;
  a {
    text-decoration: none;
  }
  .dropdown-item {
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: lighten($dark-blue,10%);
    font-weight: 600;
    font-size: 0.9rem;
    margin: 5px 0;
    padding: 5px 15px;
    cursor: pointer;
    line-height: 1;
    svg {
      width: 16px;
      height: 16px;
    }
    &:hover {
      background-color: transparent;
    }
  }
}
