$svgcolors: ("white": $white,"bluegray": $bluegray, "fadegreen": $fade-green, "darkblue": $dark-blue, "customblue": $custom-blue, "lightblue": $light-blue, "lightred": $light-red);

@each $name, $color in $svgcolors {
  .feather-svg-#{$name} {
    svg {
      stroke: $color;
    }
  }
}
