$a-grade: rgb(74,181,172);
$b-grade: rgb(123,206,196);
$c-grade: rgb(157,223,215);
$d-grade: rgb(122,143,225);
$e-grade: rgb(98,120,205);
$f-grade: rgb(63,82,179);

.grade-scoring-container {
  display: flex;
  align-items: center;
  .scoring-item {
    color: white;
    padding: 4px 12px;
    font-weight: 700;
    font-size: 1.2rem;
    margin: 8px 0;
    &:first-child {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
    &:last-child {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
    &.active {
      padding: 6px 16px;
      border-radius: 4px;
      font-size: 1.5rem;
    }
  }
}


.a-grade {
  background-color: $a-grade;
}
.b-grade {
  background-color: $b-grade;
}
.c-grade {
  background-color: $c-grade;
}
.d-grade {
  background-color: $d-grade;
}
.e-grade {
  background-color: $e-grade;
}
.f-grade {
  background-color: $f-grade;
}
