.custom-progress-container {
  position: fixed;
  left: 0;
  bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 200px;
  width: 100%;
  .start-icon {
    min-width: 28px;
    min-height: 28px;
    border-radius: 50%;
    background-color: $dark-blue;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 3px;
    svg {
      width: 16px;
      height: 16px;
      stroke: white;
    }
  }
  .end-icon {
    min-width: 28px;
    min-height: 28px;
    border-radius: 50%;
    background-color: darken(tomato,10%);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 3px;
    svg {
      width: 16px;
      height: 16px;
      stroke: white;
    }
  }
  .custom-progress {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 12px;
    border: 2px solid $dark-blue;
    .custom-progress-bar {
      height: 100%;
      background-color: $dark-blue;
    }
  }
}
