.step {
  height: 300px;
  border-radius: 5px;
  margin-bottom: 50px;
  width: 400px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid transparent;
  opacity: 0.5;
  transition: 0.4s;
  .progress {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 45px;
    font-weight: 700;
    font-size: 1rem;
  }
  &.is-active {
    opacity: 1;
  }
}

#scrolly {
  article {
    background-color: rgb(230,230,235);
    padding: 100px 0;
  }
}

header.scrolly {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
