.select2-container--default .select2-selection--multiple {
  height: 55px;
  border: none !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-right: 0 !important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: none !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 4px !important;
  border-right: 0 !important;
  outline: 0;
}

span.select2-selection {
  ul.select2-selection__rendered {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 !important;
    li.select2-search--inline {
      height: 100%;
      display: flex;
      align-items: center;
      margin: 0;
      margin-left: 15px;
      input {
        padding: 0 !important;
      }
      input.select2-search__field {
        margin: 0;
        padding-left: 15px;
        font-weight: 500;
        &::placeholder {
          font-size: 1rem !important;
          font-weight: 500 !important;
          color: rgb(80,80,80) !important;
        }
        &:focus::placeholder {
          color: dodgerblue !important;
        }
      }
    }
  }
}


.survey-geolocalisation {
  padding: 25px;
  span.select2-container {
    span.select2-selection {
      ul.select2-selection__rendered {
        display: flex;
        align-items: center;
        li.select2-selection__choice {
          font-size: 1rem !important;
          font-weight: 500 !important;
          background-color: rgb(240,240,243);
          border: none;
          color: rgb(40,40,40);
          padding: 6px 12px !important;
          display: flex;
          align-items: center;
          margin: 0;
          margin-left: 15px;
          span.select2-selection__choice__remove {
            color: white;
            font-size: 1rem;
            margin-right: 6px;
            display: none;
          }
        }
      }
    }
  }
}


.select2-marker-icon {
  font-size: 1rem;
  color: lighten(dodgerblue,25%);
  margin-right: 8px;
}


span.select2-container--open {
  .select2-dropdown--below {
    border: none;
    // margin-top: 25px;
  }
  span.select2-dropdown {
    span.select2-results {
      ul.select2-results__options {
        max-height: unset;
        li.select2-results__option {
          font-weight: 500;
          font-size: 1rem;
          padding: 15px;
          .select2-result-title {
            display: flex;
            align-items: center;
          }
        }
        li.select2-results__option--highlighted {
          background-color: transparent;
          color: dodgerblue;
          font-weight: 500;
          font-size: 1rem;
          padding: 15px;
        }
      }
    }
  }
}

.zipcode-responses {
  margin: 50px 0;
  flex-wrap: wrap;
  .flex-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    width: 32%;
    .zipcode {
      font-size: 1rem;
      font-weight: 700;
      color: darken(lightgreen,25%);
      padding: 15px;
      width: 100%;
      margin-bottom: 15px;
      border-radius: 5px;
      box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px, rgba(0, 0, 0, 0.06) 0px 2px 12px;
      .precise-address {
        font-size: 1rem;
        font-weight: 400;
        color: darken(lightgreen,25%);
      }
      .coordinates {
        font-size: 1rem;
        font-weight: 600;
        color: tomato;
        margin-top: 15px;
      }
      .small {
        font-size: 1rem;
        font-weight: 400;
      }
    }
  }
}



.underlined-btn {
  position: relative;
  border: none;
  background-color: transparent;
  font-weight: 600;
  font-size: 1rem;
  padding: 0;
}


.spanned-button {
  position: relative;
}

.spanned-button:after {
  content: '';
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  left: 0;
  top: 113%;
  border-bottom: 2px solid darken(lightgreen,10%);
}

.fullpage-header-sm {
  font-weight: 300;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .survey-geolocalisation {
    padding: 0;
  }
}





