.container
  = "Créer un agent"
  = simple_form_for [:dashboard, @new_agent] do |f|
    = f.input :agency_id, as: :hidden, input_html: {value: @agency.id.to_s}
    = f.input :email, input_html: {class: "form-control"}, label: false, placeholder: "Email"
    = f.input :firstname, input_html: {class: "form-control"}, label: false, placeholder: "Prénom"
    = f.input :lastname, input_html: {class: "form-control"}, label: false, placeholder: "Nom"
    = f.input :password, input_html: {class: "form-control"}, label: false, placeholder: "Mot de passe"
    = f.input :password_confirmation, input_html: {class: "form-control"}, label: false, placeholder: "Confirmation mot de passe"


    = f.input :agent_role, as: :radio_buttons, collection: AgentRole.form_list, boolean_style: :inline, label: false,label_method: :first, value_method: :last



    = f.submit "Créer un agent", class: "btn btn-primary"
