- if @question.specific_display
  .journey-checkbox-inputs{class: "f-row"}
    - @question.answers.sort_by{|answer| answer.order}.each_with_index do |answer,index|
      .journey-checkbox-badge-style
        = tag.input type: @question.type, name: "#{@question.field_name}[]", id: "#{@question.position}-#{index + 1}", value: answer.increment_id, data: {text: answer.text}
        = tag.label answer.text, for: "#{@question.position}-#{index + 1}"
- else
  .journey-checkbox-inputs{class: "#{'f-row' if @answers_words_size < 50 || @question.answers.size > 20}"}
    - @question.answers.sort_by{|answer| answer.order}.each_with_index do |answer,index|
      .journey-checkbox-input
        = tag.input type: @question.type, name: "#{@question.field_name}[]", id: "#{@question.position}-#{index + 1}", value: answer.increment_id, data: {text: answer.text}
        = tag.label answer.text, for: "#{@question.position}-#{index + 1}"
