.form-buttons-container
  - if @question.required
    - if @question.exit_step
      = submit_tag "Je valide", class: "question-submit-btn disabled-btn", disabled: true, data: {type: "#{@question.type}", exit: "ON", exitindex: @question.exit_index}, style: "background-color: #{@primary_color};"
    - else
      = submit_tag "Je valide", class: "question-submit-btn disabled-btn", disabled: true, data: {type: "#{@question.type}", exit: "OFF"}, style: "background-color: #{@primary_color};"
  - else
    - if @question.exit_step
      .question-skip-btn{"data-agency": @agency.id.to_s,"data-survey": @survey.id.to_s,"data-url": next_question_skip_path, "data-position": @question.position, "data-method": "POST", "data-exit": "ON", "data-exitindex": @question.exit_index}
        Je passe
      = submit_tag "Je valide", class: "question-submit-btn disabled-btn", disabled: true, data: {type: "#{@question.type}", exit: "ON", exitindex: @question.exit_index}, style: "background-color: #{@primary_color};"
    - else
      .question-skip-btn{"data-agency": @agency.id.to_s,"data-survey": @survey.id.to_s,"data-url": next_question_skip_path, "data-position": @question.position, "data-method": "POST", "data-exit": "OFF"}
        Je passe
      = submit_tag "Je valide", class: "question-submit-btn disabled-btn", disabled: true, data: {type: "#{@question.type}", exit: "OFF"}, style: "background-color: #{@primary_color};"


