.journey-geocode-input
  - @question.answers.each do |answer|
    = tag.input type: "text", name: @question.field_name, id: "journey-geocode-input", placeholder: "#{answer.placeholder}", autocomplete: "off", class: "form-control"
