.journey-number-inputs
  - @question.answers.order_by{|answer| answer.order}.each_with_index do |answer,index|
    .journey-number-input
      .numeric-stepper-minus
        .svg
          = svg("number-minus")
      - if answer.min && answer.max
        = tag.input type: @question.type, name: @question.field_name, id: "#{@question.position}-#{index + 1}", min: answer.min, max: answer.max, value: 0
      .numeric-stepper-plus
        .svg
          = svg("number-plus")
