- if @question.radio_by_pair
  .journey-radio-by-pair-inputs
    - @question.answers.sort_by{|answer| answer.order}.each_slice(2).to_a.each_with_index do |slice,index1|
      = tag.input type: "hidden", name: "#{@question.field_name}[]"
      .journey-radio-by-pair-input
        - slice.each_with_index do |answer,index|
          - if index == 0
            = tag.input type: @question.type, name: "#{@question.field_name}_#{index1 + 1}", id: "Q#{@question.position}-#{index1 + 1}-#{index + 1}", value: answer.increment_id, data: {text: answer.text}
            = tag.label answer.text, for: "Q#{@question.position}-#{index1 + 1}-#{index + 1}", class: "positive-input"
          - else
            = tag.input type: @question.type, name: "#{@question.field_name}_#{index1 + 1}", id: "Q#{@question.position}-#{index1 + 1}-#{index + 1}", value: answer.increment_id, data: {text: answer.text}
            = tag.label answer.text, for: "Q#{@question.position}-#{index1 + 1}-#{index + 1}", class: "negative-input"

- else
  .journey-radio-inputs{class: "#{'f-row' if @answers_words_size < 50}"}
    - @question.answers.sort_by{|answer| answer.order}.each_with_index do |answer,index|
      .journey-radio-input
        = tag.input type: @question.type, name: @question.field_name, id: "#{@question.position}-#{index + 1}", value: answer.increment_id, data: {text: answer.text}
        = tag.label answer.text, for: "#{@question.position}-#{index + 1}"
