.journey-textarea-input
  - @question.answers.order_by{|answer| answer.order}.each do |answer|
    = text_area_tag "#{@question.field_name}", nil, class: "form-control", placeholder: "#{answer.placeholder}"
