.journey-text-inputs
  - if @question.front_condition? && @question.front_condition.survey_field
    - if @question.answers.size == 1
      - @question.answers.order_by{|answer| answer.order}.each_with_index do |answer,index|
        .journey-text-input
          - if answer.placeholder
            = tag.input type: @question.type, name: @question.field_name, id: "#{@question.position}-#{index + 1}", placeholder: "#{answer.placeholder}", autocomplete: "off", "data-condition": "#{'on' if @question.front_condition?}", "data-max-value": "#{@survey[@question.front_condition.survey_field.to_sym]}"
          .small-hint
            = "Surface maximum de #{@survey[@question.front_condition.survey_field.to_sym]} m²"
  - else
    - if @question.answers.size == 1
      - @question.answers.order_by{|answer| answer.order}.each_with_index do |answer,index|
        .journey-text-input
          - if answer.placeholder
            = tag.input type: @question.type, name: @question.field_name, id: "#{@question.position}-#{index + 1}", placeholder: "#{answer.placeholder}", autocomplete: "off", "data-condition": "#{'on' if @question.front_condition?}", "data-min-value": "#{@question.front_condition.min if @question.front_condition}"
    - else
      - @question.answers.order_by{|answer| answer.order}.each_with_index do |answer,index|
        .journey-text-input
          - if answer.placeholder
            = tag.input type: @question.type, name: "#{@question.field_name}[]", id: "#{@question.position}-#{index + 1}", placeholder: "#{answer.placeholder}", autocomplete: "off", "data-condition": "#{'on' if @question.front_condition?}", "data-min-value": "#{@question.front_condition.min if @question.front_condition}"

