= simple_form_for @answer do |f|
  = f.input :question_id, as: :hidden, input_html: {value: @question.id}
  - if @available_order
    = f.input :order, as: :hidden, input_html: {value: @available_order}
  - else
    = f.input :order, as: :hidden, input_html: {value: 1}
  = f.input :text, label: false, placeholder: "Texte", input_html: {class: "form-control"}
  = f.submit "Je valide", class: "btn btn-dark"
