!!!
%html
  %head
    %meta{content: "text/html", "http-equiv": "Content-Type"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %meta{charset: "utf-8"}/
    %meta{property: "og:type", content: "website"}/
    %title Aristid
    = csrf_meta_tags
    = Gon::Base.render_data
    = stylesheet_link_tag    'application', media: 'all'
    %script{src:'https://maps.googleapis.com/maps/api/js?key=AIzaSyCdpP4BuVUKk75HM7NENKCUgo7jwFMwQwA&libraries=places'}
    = javascript_include_tag 'application'
  %body
    = yield

    %script{:async => "", :src => "https://www.googletagmanager.com/gtag/js?id=UA-102364645-7"}
    %script{src: "https://cdn.jsdelivr.net/npm/chart.js@2.9.1/dist/Chart.min.js"}
    %script{src: "https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"}
    %script{src: "https://unpkg.com/scrollama"}
    :javascript
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-102364645-7');
